.vscode/settings.json

.DS_Store

docs/private/

.obsidian/workspace.json
.obsidian/workspace-mobile.json

.obsidian/plugins/**


### Include git plugin settings
!.obsidian/plugins/obsidian-git/
!.obsidian/plugins/obsidian-git/data.json
